/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Http/controllers/MagazineCollectionApiController.php
/app/Http/Resources/MagazineCollection.php
/database/seeds/MagazineCollectionTableSeeder.php
/database/factories/MagazineCollectionFactory.php
/database/migrations/2019_08_20_132626_magazine_collection_table.php
/app/MagazineCollection.php